/*font-family: 'Acme', sans-serif;
#font-family: 'Poppins', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
*::selection{
    color: #fff;
    background-color: #000;
}
html,body{
    width: 100%;
    height: 100%;
}
#home{
    width: 100%;
    min-height: 100vh;
}
#nav{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    width: 100px;
}
#nav #right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    letter-spacing: 0;
    font-size: 1.2vw;
}
#home #home-main{
    width: 100%;
    padding: 12vw 16vw;
}
#home-main h1{
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: -0.1px;
}
.headings{
    display: flex;
    gap: 30px;
}
#home-main .headings h1{
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 5vw;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1;
}
#home-main .headings h1:hover{
    color: #000;
}
#homelast{
    padding: 5vw 16vw;
}
#homelast p{
    font-weight: 600;
    font-size: 1.6ew;
    width: 65%;
}

#featured{
    padding: 10vw 16vw;
}
#fheading>h1{
    font-weight: 400;
    font-size: 4vw;
    line-height: 1;
}
#fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#fimages{
    width: 100%;
    margin: 2vw 0;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#fimages #fleft{
    overflow: hidden ;
    width: 45%;
    height: inherit;
}
#fleft .fleftelm{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#fleft .fleftelm h1{
    font-weight: 400;
    line-height: 1;
    font-size: 2.5vw;
    text-transform: capitalize;
    margin: 2vw 0;
}
.fleftelm h3{
    font-size: 1.5vw;
    font-weight: 500;
}
.fleftelm h4{
    opacity: .5;
}
#fimages #fright{
    width: 45%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#fright .images{
    width: 90%;
    height: 90%;
    background-color: red;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btndiv button{
    padding: 1vw 2.2vw;
    border-radius: 100px;
    border: 2px solid rgb(177, 164, 164);
    background-color: #fff;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: -.5px;
}
#dev{
    width: 100%;
    padding: 5vw 16vw;
}
#dev h1{
    width: 60%;
    font-weight: 500;
    font-size: 3.5vw;
    line-height: 1;
}
#dev p{
    width: 60%;
    margin-top: 2vw;
    letter-spacing: -.5px;
    font-size: 1.5vw;
}
#slides{
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
.slide{
    width: 30%;
}
.slide .img{
    width: 100%;
    height: 270px;
    background-color: yellow;
    border-radius: 10px;
}
.slide .tag{
    width: fit-content;
    background-color: #f1f1f1;
    margin: 20px 0;
    padding: 10px 22px;
    border-radius: 100px;
}
.slide h1{
    font-size: 1.3vw;
    letter-spacing: -.5px;
}